#!/usr/bin/env ruby
require 'sqlite3'

begin
    puts 'Verificando banco de dados'
    db = SQLite3::Database.open "db/study_diary.db"
    db.execute <<-SQL 
        CREATE TABLE IF NOT EXISTS Study_Items(
            ID INTEGER PRIMARY KEY AUTOINCREMENT,
            TITLE VARCHAR(100),
            CATEGORY VARCHAR(100),
            IS_CHECKED BOOLEAN
        );
    SQL
rescue SQLite3::Exception => e
    puts "Ocorreu um erro"
    puts e
rescue
    db.close if db
end
